url = "/about"
layout = "default"
title = "About"
is_hidden = 0
meta_description = "about page"
seo_keywords = "keywords"
robot_index = "index"
robot_follow = "follow"

[siteSearchInclude]

[jumbotron background]
jumbotron = "background"
title = 1
background = "#ffffff"
templates = "template1"
description_limit = 0

[jumbotron goals]
jumbotron = "objectives"
title = 1
background = "unset"
templates = "template1"
description_limit = 0

[accordion]
maxItems = 10
accordion = 1
elementId = "structure"
active = 0
collapsible = "true"
heightStyle = "content"
iconsHeader = "ui-icon-blank"
iconsHeaderActive = "ui-icon-blank"
templates = "template3"

[jumbotron]
jumbotron = "about-image"
title = 0
background = "#ffffff"
templates = "template1"
description_limit = 0

[jumbotron jumbotron2]
jumbotron = "about-intro"
background = "#ffffff"
templates = "template1"
description_limit = 0

[jumbotron numbers]
jumbotron = "niches-numbers"
title = 1
background = "#ffffff"
templates = "template1"
description_limit = 0
==
<?php
use Pensoft\Partners\Models\Partners;
use Pensoft\Cardprofiles\Models\Profiles;
function onStart(){
	$this['partners'] = Partners::get();
}

function onInsider(){
	$this['partner'] = Partners::where('id', (int)post('partner_id'))->first();
	$this['insider_members'] = Profiles::where('partner_id', (int)post('partner_id'))->where('category_id',  2)->get();;
}
?>
==
{% component 'siteSearchInclude' %}
<div class="container">
    <h1 class="page_heading ml-1">About</h1>
    <div class="row middle-xs">
        <div class="col-md-6 col-xs-12">
             <div class="we_will">
                {% component 'jumbotron2' %}
             </div>
             <div class="background">
                {% component 'background' %}
             </div>
        </div>
        <div class="col-md-6 col-xs-12">
            {% component 'jumbotron' %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% component 'numbers' %}
        </div>
    </div>
    <div class="row top-xs">
        <div class="col-md-6 col-xs-12 about_goals_page">
            {% component 'goals' %}
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="container-fluid work_packages " style="background-color:unset;">
    	        <div class="container">
                    {% component 'accordion' %}
                </div>
            </div>
        </div>
    </div>
    <div class="row top-xs mb-4">
        <h1 class="display-1 aos-init aos-animate" data-aos="fade-up">Partners</h1>
        <div class="col-md-12 col-xs-12 about_partners_page">
			<div class="row between-lg around-xs partners_list">
				{% for partner in partners %}
				<div class="col-lg-2 col-xs-12 partner-item partner_item_{{ partner.id }}">
					<a href="javascript:void(0);" onclick="onCustomPartners('{{ partner.id }}')">
						{% if partner.cover %}
						<img alt="{{partner.instituion}}" src="{{partner.cover|crop_image|resize(153, auto, { mode: 'crop' })}}">
						{% else %}
						<img alt="{{partner.instituion}}" src="{{'CMS_icons_avatar_white.svg'|media}}">
						{% endif %}
					</a>
				</div>

				{% endfor %}
				<div id="mycomponentinsider"></div>
			</div>

        </div>
    </div>
</div>